.section-list {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 94px;
  }
}

.section-list .item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      margin-bottom: unset;
    }
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: 30px;
    margin-top: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.section-list .item::before {
  display: block;
  background-color: $secondary-background-color;
  content: "";
  height: 120px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-list .item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.section-list .item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.section-list .item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.section-list .item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.section-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  box-sizing: border-box;
  padding: 0px;
}
