*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

h2,
h3 {
  color: $secondary-text-color;
}

img {
  height: auto;
  width: 100%;
  display: block;
}
