$primary-text-color: #757575;
$secondary-text-color: #212121;
$active-color: #2196f3;
$primary-background-color: #e5e5e5;
$secondary-background-color: #f5f4fa;
$color-white: #ffffff;
$color-secondary-grey: rgba(255, 255, 255, 0.6);
$background-button-tab: #f5f4fa;
$background-dark: #2f303a;
$border-light-color: #eeeeee;
$icon-color: #afb1b8;
